<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Example Test Suite">
    <test name="Browser Locale Test">
        <classes>
            <class name="tests.BrowserLocaleTest"/>
        </classes>
    </test>
    <test name="GitHub Login Test">
        <classes>
            <class name="tests.GitHubLoginTest"/>
        </classes>
    </test>
</suite>